@import './normalize.css'
@import './syntax.css'

footer-height = 70px

html
  height: 100%

body
  min-height: 100%
  position: relative
  padding-bottom: footer-height
  box-sizing: border-box;
  color: black
  font-size: 16px
  font-family: "Hiragino Sans GB", "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
  line-height: 1.5

h1
  font-size: 24px

h2
  font-size: 20px

p
  margin: 1em 0

.header
  margin-bottom: 30px
  padding: 12px 24px

  .logo a
    color: black
    float: left
    font-size: 18px
    font-weight: bold
    text-decoration: none

  .navigation
    text-align: right
    font-size: 14px
    font-weight: bold

  .navigation a
    color: #999
    font-weight: 100
    margin-left: 12px
    text-decoration: none
    text-transform: uppercase

    &:hover
      color: #1E88E5;

.content
  padding: 0px 24px 12px

.footer
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: footer-height
  box-sizing: border-box
  color: #fff
  background: #212121
  padding: 12px 0px 12px 0px
  text-align: center
  font-size: 12px;

  a
    color: #fff

div.info
  color: #555
  font-size: 14px
  font-style: italic

div.sourceCode
  font-size: 12px
  line-height: 20px
  border: 1px solid #f2f2f2;
  border-radius: 2px;