
footer-height = 160px

html
  height: 100%

body
  min-height: 100%
  position: relative
  padding-bottom: footer-height
  box-sizing: border-box
  color: black
  font-size: 16px
  font-family: "Helvetica Neue", helvetica, "Hiragino Sans GB", "lucida grande", "lucida sans unicode", lucida, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
  line-height: 1.5

h1
  font-size: 24px

h2
  font-size: 20px

p
  margin: 1em 0

.header
  height 64px
  background: #333

  &__name a
    float: left
    margin-left: 32px
    color: #fff
    font-size: 16px
    line-height: 64px
    font-weight: 400
    text-decoration: none

  &__navigation
    padding: 22px 0
    text-align: right
    font-size: 14px
    font-weight: bold
    margin-right: 32px
    line-height: 20px

    a
      line-height: 20px
      font-size: 14px
      color: #d2d2d2
      font-weight: 400
      margin-left: 12px
      text-decoration: none
      text-transform: uppercase

      &:hover
        color: #1E88E5

      svg
        width: 14px
        height: 14px
        vertical-align: text-top
        stroke-width: 3

#background
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #333;

.index
  h2
    margin-top: 210px
    text-align: center
    font-size: 36px
    color: #fff;


  .jump-btns
    text-align: center;
    margin: auto;

  .jump-btns a
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    border: 2px solid #ccc;
    color: #ccc;
    border-radius: 18px;
    padding: 0 16px;
    text-decoration: none;

  .jump-btns a + a
    margin-left: 36px;

  .jump-btns svg
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    stroke-width: 2px;

.content
  width: 800px
  margin: auto;
  padding: 24px 12px
  box-sizing: border-box;

.post-list
  .post
    margin-bottom: 36px

    &-date
      font-size: 14px
      color: #999

    &-title
      margin-top: 8px

      a
        font-size: 18px
        font-weight: 400
        text-decoration: none
        color: #333

    &-description
      margin-top: 16px
      line-height: 1.5
      font-size: 14px
      color: #666

.content.post
  padding-top: 64px

  .post
    &-title
      padding: 0
      margin: 0
      font-size: 24px
      font-weight: 400
      color: #333
      text-align: center

    &-date
      margin-top: 8px
      font-size: 14px
      color: #999
      text-align: right

    &-body
      margin-top: 16px
      color: #666
      font-size: 16px
      line-height: 1.5

.pagination
  // &::before,
  // &::after
  //   content: ""
  //   display: table
  //   clear: both

  a
    display: inline-block
    font-size: 14px
    text-decoration: none
    padding: 4px 24px
    line-height: 20px
    border: 1px solid #1bbbef
    color: #1bbbef
    border-radius: 14px

    + a
      margin-left: 24px

.footer
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: footer-height
  box-sizing: border-box
  color: rgba(255, 255, 255, .4)
  background: #1f1f1f
  text-align: center
  font-size: 12px
  font-style: italic

  .copyright
    margin-top: 56px

  .hakyll
    margin-top: 24px

  a
    color: rgba(255, 255, 255, .4)

div.sourceCode
  font-size: 14px
  line-height: 20px
  border: 1px solid #f2f2f2
  border-radius: 2px

  pre.sourceCode
    padding: 8px 0;
    margin-left: 2em;