<div class="content post">
  <h3 class="post-title">$title$</h3>
  <div class="post-date">$date$</div>
  <div class="post-body">
    $body$
  </div>
  <div id="comments"></div>
</div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var matches = location.pathname.match(/^\/posts\/(.+)\.html/);
var match = matches[1];
var id = match.replace(/\d{4}-\d{2}-\d{2}-/, '');
var gitment = new Gitment({
  title: "$title$",
  id: id,
  owner: 'nodew',
  repo: 'blog',
  oauth: {
    client_id: '3f36214bd191119338cc',
    client_secret: '8527738f4cbb1a4b916c87d8573d57c9c4e57413',
  },
});
gitment.render('comments')
</script>