<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>夜色残阳 | slides - $title$</title>
        <meta name="description" content="Personal blog site">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/static_dist/lib/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="/static_dist/lib/reveal.js/css/theme/$theme$.css">
        <link rel="stylesheet" href="/static_dist/lib/reveal.js/lib/css/zenburn.css">
        <script>
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match(/print-pdf/gi) ? '/static_dist/lib/reveal.js/css/print/pdf.css' : '/static_dist/lib/reveal.js/css/print/paper.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                $body$
            </div>
        </div>
        <script src="/static_dist/lib/reveal.js/lib/js/head.min.js"></script>
        <script src="/static_dist/lib/reveal.js/js/reveal.js"></script>
        <script>
          Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            transition: 'slide',
            dependencies: [
                { src: '/static_dist/lib/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                { src: '/static_dist/lib/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: '/static_dist/lib/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: '/static_dist/lib/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                { src: '/static_dist/lib/reveal.js/plugin/search/search.js', async: true },
                { src: '/static_dist/lib/reveal.js/plugin/zoom-js/zoom.js', async: true },
                { src: '/static_dist/lib/reveal.js/plugin/notes/notes.js', async: true }
            ]
          });
        </script>
    </body>
</html>